.contenedor-contacto{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../IMG/fondo.jpg)
}
.cont-interno{
    background-color: lavenderblush;
}
.fuente{
    font-size: 9pt;
}
.contform{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: lavenderblush;
    border: 5px solid black;
    border-radius: 10px;
}
.caja{
    width: 80%;
}
.cajita{
    display: flex;
    justify-content: center;
}
h2{
    font-family: myfont;
    font-size: 40px;
    text-align: left;
}
section h3{
    font-size: 15px;
    align-content: flex-start;
}
.cont-section{
    flex-wrap: nowrap;
}
.icono{
    font-size:35px;
    color: deeppink;
}
.fondoform{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lavenderblush;
    border-radius: 10px;
}
.botontexto{
        display: inline;
        justify-content: right;
        background-color: deeppink;
        color:white;
        padding: 5px;
        border-radius: 15px;
        cursor: pointer;
        width: 25%;
}
input{
    width: 65%;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
}
.divsect{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.sectionx{
    width: 50%
}

@media only screen and (min-width: 600px){ /* TABLET */
    .fuente{
        font-size: 12pt;
    }
}
@media only screen and (min-width: 768px){ /* Escritorio */
    .cont-interno{
        height: 600px;
    }
}