
h3{
    font-family: myfont;
    font-size: 30pt;
    color: black;
    text-align: center;
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    color: black;
    text-align: center;
}
.caja{
    display: flex;
    justify-content: center;
    padding: 10px;
    color:black;
    background-image: url('../IMG/fondofor.jpg');
    background-size: cover;
}
input, #dep, #fecha{
    width: 100%;
    height: 25px;
    background-color:lightgrey;
    border-radius: 5px;
    border: 1px solid black;
}
option{
    background-color:lightgrey;
    border-radius: 5px;
    border: 1px solid black;
}
.pedido{
    background-color: black;
    color:white;
    font-weight:bolder;
    font-size: 20px;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}
.pedido a{
    text-decoration: none;
    color: white;
}
.pedido-padre{
    display: flex;
    justify-content: center;
}
#fecha{
    width: 185px;
}
select{
    width: 210px;
    text-align: center;
}
.main-pedidos{
    display: flex;
    justify-content: center;
    background-color: pink;
}
.intro{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid deeppink;
    border-radius: 10px;
    height: 20%;
}
@media only screen and (min-width: 768px){ /* ESCRITORIO */
    input{
        width: 70%;
    }
    #dep{
        width: 62%;
    }
    #fecha{
        width: 58%;
    }
}