
h3{
    font-family: myfont;
    font-size: 30pt;
    color: black;
    text-align: center;
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    color: black;
}
.caja{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items:center;
    text-align: left;
    padding: 10px;
    border: 1px solid black;
    color:black;
    border-radius: 5px;
    background-image: url('../IMG/fondofor.jpg');
    background-size: cover;
}
input{
    width: 250px;
    height: 25px;
    background-color:lightgrey;
    border-radius: 5px;
    border: 1px solid black;

}
option{
    background-color:lightgrey;
    border-radius: 5px;
    border: 1px solid black;
}
.pedido{
    background-color: black;
    color:white;
    font-weight:bolder;
    font-size: 20px;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.pedido-padre{
    display: flex;
    justify-content: center;
}
#fecha{
    width: 185px;
}
select{
    width: 210px;
    text-align: center;
}
main{
    background-color: pink;
}
