.cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: lightpink;
}
.box-postres{
    background-color: white;
}
.sect{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.principal{
    background-color: beige;
}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    background-color: white;
}
.botonmostrar{
    display: none;
    margin-top: 5px;
    line-height: 25px;
    padding: 6px;
    background-color:lightblue;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid rgb(48, 25, 25);
    text-align: center;
    margin: auto;
}
.botonmostrar:hover{
    border: 2px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(150, 150, 150);
}
.botonocultar{
    margin-top: 5px;
    line-height: 25px;
    padding: 6px;
    background-color:deeppink;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid rgb(48, 25, 25);
    text-align: center;
    margin: auto;
}
.botonocultar:hover{
    border: 2px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(150, 150, 150);
}
.boton{
    margin-top: 5px;
    line-height: 25px;
    padding: 6px;
    background-color: lightblue;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid rgb(48, 25, 25);
    display: block;
    width: 70%;
    text-align: center;
    margin: auto;
}
.boton:hover{
    border: 2px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(150, 150, 150);
}
.rmvboton{
    display: none;
    margin-top: 5px;
    line-height: 25px;
    padding: 6px;
    background-color: deeppink;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid rgb(48, 25, 25);
    width: 70%;
    text-align: center;
    margin: auto;
}
.rmvboton:hover{
    border: 2px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(150, 150, 150);
}
.art{
    border: 1px solid rgb(150, 150, 150);
    border-radius: 10px;
    background-color: rgb(230,230,230);
}
.art img{
    width: 100%;
    height: 300px;
}
.art h3{
    margin: 5px;
    text-align: center;
}
.divcarretilla{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.divcarretilla i{
    font-style: oblique;
    font-size: 15pt;
    cursor: pointer;
}
.divcarretilla a{
    text-decoration: none;
    color: black;
}
.divcarretilla p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    width: 15%;
    height: 35%;
    border-radius: 10px;
}
#carretTab{
    display: none;
}
#carretCel{
    display: inline-flex;
}
@media only screen and (min-width: 600px){ /* TABLET */
    .btn{
        flex-direction: row;
    }
}

@media only screen and (min-width: 768px){ /* ESCRITORIO */
    .btn{
        flex-direction: row;
    }
    .botonocultar{
        display: none;
    }
    .botonmostrar{
        display: none;
    }
    .divcarretilla{
        justify-content: flex-start;
    }
    #carretCel{
        display: none;
    }
    #carretTab{
        display: inline-flex;
    }
}
